ul li {
    list-style: none;
    text-decoration: none;
    color: red;
} 

a:hover {
    text-decoration: none;
}


#contour {
    fill: rgb(108, 108, 110);
}

.hoverValide {
    fill: rgb(135, 194, 135);
    color:rgb(135, 194, 135);
    font-weight: bold;
    transition: fill 0.2s;
}

.hoverVide {
    fill: rgb(247, 80, 80);
    color: rgb(247, 80, 80);
    font-weight: bold;
    text-decoration: none;
    transition: fill 0.3s;
}

.map__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carte-guebwiller {
    width: 450px;
}

@media (max-width : 900px ) {
    .map__image {
        flex-direction: column;
        margin: 0 auto;
    }
    .map__list {
        text-align: center;
        margin: 0 auto;
        padding-top: 5%;
    }
    .carte-guebwiller {
        width: 450px;
    }
    #titre {
        margin-left: 50px;
    }
}